@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "SN Pro", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    /* overflow-y: scroll; */
    /* scrollbar-width: auto;  */
}


/* not found page css */

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Hide default calendar icon - Chrome, Edge, Safari */
.calender::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Remove inner clear button (Edge) */
.calender::-webkit-clear-button {
  display: none;
}

/* Firefox fix */
.calender {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-professional {
  @apply w-full px-4 py-2.5 border border-gray-300 rounded-lg 
  focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none;
}

.error-text {
  @apply text-xs text-red-500 mt-1;
}
.input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: white;
}

.input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}